<%- include('../partials/header') %>
    <h2>Enter a New Event</h2>
<form action="/events" method="POST">
	<label>Event Type:
        <select name="eventType">
          <option value="Trail Run">Trail Run</option>
          <option value="Cleanup">Cleanup</option>
        </select>
      </label><br>
	<label>Location:
	  <input type="text" name="location">
	</label><br>
	<label>Start time:
	  <input type="datetime-local" name="startTime">
    </label><br>
    <label>Volunteers:
        <input type="text" name="volunteers">
      </label><br>
  <input type="submit" value="Add Event">
</form>
<%- include('../partials/footer') %>

