<%- include('../partials/header') %>

    <h4>Add an Event</h4>
<form action="/events" method="POST">
  </div>
	<label>Type of Event:
	  <input type="text" name="eventType">
	</label><br>
	<label>Location:
	  <input type="text" name="location">
	</label><br>
	<label>Start time:
	  <input type="datetime-local" name="startTime">
  </label><br>
  <label>Volunteers:
    <input type="text" name="volunteers">
      </label><br>
  <label>Trash Collected:
    <input type="text" name="trashLbs">
      </label><br>
  <label>Miles Run:
    <input type="text" name="miles">
      </label><br>
  <label>Image file:
    <input type="text" name="img">
      </label><br>
  <input type="submit" value="Add Event">
</form>

<%- include('../partials/footer') %>

