<!DOCTYPE html>
<html>

<head>
  <title>Trashy Trail Runners</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/main.css" />
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  <div class="navbar-fixed">
    <nav class="nav-color">
      <div class="nav-wrapper">
        <a href="" class="brand-logo left">TTR</a>
        <ul class="right">
            <div>
                <a href="/events">Events Archive</a>
            </div> 
        </ul>
      </div>
    </nav>
  </div>
  <main class="landing">
<img class="logo" src="/images/TTR_logo.png" alt="TTR Logo">
<p class="mission">STRIVE TO INSPIRE HEALTHIER PUBLIC LANDS BY CONNECTING PEOPLE TO THE OUTDOORS THROUGH EDUCATION, CLEAN UP, AND TRAIL ADVENTURES</p>
</main>  
</body>
</html>



