body {
  font-family: sans-serif;
  color: gray;
  background-color: #f9f8f1 ;
}

.nav-color {
background-color: #f7916f;}

.nav-wrapper {
}

p {
  color: rgb(101, 115, 126);
}

.volList {
  display: inline;
  margin-right: 20px;
}

.left {
  display: inline;
  margin: auto;
}

.show-img {
  width: 300px;
  height: 300px;
}

.main-content {
  width: 150%;
  margin: auto;
}

.landing {
  position: relative;
}

.logo {
  position: fixed;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -200px;
}

.mission {
  position: fixed;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin: 250px 0 0 -180px;
}

.logo img {
  width: 100%;
  height: auto;
}