body {
  font-family: sans-serif;
  color: white;
  background-color: rgb(158, 162, 167) ;
}

a {
  display: inline;
  margin: 30px;
}

p {
  color: rgb(147, 163, 177);
}

#deletebtn {
  background-color: red;
  color: white;
}
.left {
  display: inline;
  margin: auto;
}

.card-action {
  display: inline;
}

.show-img {
  width: 300px;
  height: 300px;
}

.logo {
  position: relative;
  width: 400px;
  height: 400px;
}

/* resize images */
.logo img {
  width: 100%;
  height: auto;
}